{% extends 'base.html.twig' %}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script type="module">#}
{#        import {DataTable} from "simple-datatables"#}

{#        const myTable = document.querySelector("#example");#}
{#        const dataTable = new DataTable(myTable, {#}
{#            searchable: false,#}
{#            fixedHeight: true,#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}
{% block body %}
    {% set _sc = '@survos/simple-datatables-bundle/table' %}

    <table class="table" {{ stimulus_controller(_sc) }}>
        <thead>
        <tr>
            <th>Package</th>
            <th>Url</th>
            <th>Path</th>
        </tr>
        </thead>

        <tbody>
        {% for code, info in importMapData %}

        <tr>
            <td>{{ code }}</td>
            <td>{% set url = info.url|default(false) %}
                {{ url|default('') }}
            </td>
            <td>{{ info.path|default('') }}</td>
        </tr>
        {% endfor %}
        </tbody>

    </table>

    {{ readme|raw|markdown_to_html|raw|add_att_attributes|raw }}
{% endblock %}
